@using WebApplication6.Models.Entity
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="section section-breadcrumbs">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="/User/Index"><h1>ÜRÜNLER</h1> </a> 
                
            </div>

        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-sm-4">
                    <div class="shop-item">
                        <div class="image">
                            <a href="page-product-details.html"><img src="~/mPurpose-master/img/product1.jpg" alt="Item Name"></a>
                        </div>
                        <div class="title">
                            <h3><a href="page-product-details.html">@item.ProductName</a></h3>
                        </div>
                        <div class="colors">
                            <span class="color-white"></span>
                            <span class="color-black"></span>
                            <span class="color-blue"></span>
                            <span class="color-orange"></span>
                            <span class="color-green"></span>
                        </div>
                        <!-- Product Price-->
                        <div class="price">
                            <p> $@item.ProductPrice</p>
                        </div>
                        <!-- Product Description-->
                        <div class="description">
                            <p>@item.ProductDescripton</p>
                        </div>
                        <!-- Add to Cart Button -->
                        <div class="actions">
                            @if(@item.ProductQuantity>0)
                            {
                                <a href="/User/AddOrder/@item.ProductId/" class="btn"><i class="icon-shopping-cart icon-white"></i> Satın Al</a>
                            }
                            else
                            {
                                <p> Stokta Yok  </p>                                 
                            }
                           
                        </div>
                    </div>
                    <!-- End Product -->
                </div>
            }
        </div>
    </div>
</div>

