@model WebApplication6.Models.Entity.Category
@{
    ViewData["Title"] = "UpdateCategory";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UpdateCategory</h1>

<form class="form-group" method="post">
    <div style="margin-bottom:20px">
        <label>Kategori Adı</label>
        <input type="text" asp-for="@Model.CategoryName" class="form-control" />
    </div>
    <div style="margin-bottom:20px">
        <label>Kategori Açıklama</label>
        <input type="text" asp-for="@Model.CategoryDescripton" class="form-control" />
    </div>
   <div>
        <button class="btn btn-warning">Güncelle</button>
    </div>
     @Html.HiddenFor(x => x.CategoryId)
      @Html.HiddenFor(x => x.CategoryStatus)
    </form>
     